<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Lab5</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  
  <servlet>
  <servlet-name>readInitParamJSP</servlet-name>
  <jsp-file>/readInitParam.jsp</jsp-file>
  <init-param>
    <param-name>e-mail</param-name>
    <param-value>hong@mail.com</param-value>
  </init-param>
<init-param>
    <param-name>emailHost</param-name>
    <param-value>151.68.167.201</param-value>
  </init-param> 
  <init-param>
    <param-name>webMaster</param-name>
    <param-value>홍길동</param-value>
  </init-param>
</servlet>

<servlet-mapping>
  <servlet-name>readInitParamJSP</servlet-name>
  <url-pattern>/readInitParam2.jsp</url-pattern>
</servlet-mapping>
<context-param>
   <param-name>MasterID</param-name>
   <param-value>jspbook</param-value>
   </context-param>

   <context-param>
   <param-name>MasterPassword</param-name>
   <param-value>112233</param-value>
   </context-param>
  
</web-app>
